img{
    display: none;
    margin: 0 auto;
}

#houseTablet{
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 15%;
    bottom: 0;
}
#houseMobile{
    display: none;
}

@media(max-width: 990px){
    #houseTablet{
        display: none;
    }
    #houseMobile{
        display: block;
        width: 93%;
    }
}