<!--The content below is only a placeholder and can be replaced.-->
<div class=app-component>
  <div style="text-align:center">
    <h1>
      Welcome to Follow Me Radio!
    </h1>
  </div>
  <div style="text-align:center">
    <img src="../assets/bedroom.png">
    <img src="../assets/bathroom.jpg">
    <img src="../assets/livingroom.png">
    <img src="../assets/kitchen.png">
  </div>
  <div style="text-align:center">
    <img src="../assets/sound.png" id="bedroomSound">
    <img src="../assets/sound.png" id="bathroomSound">
    <img src="../assets/sound.png" id="livingroomSound">
    <img src="../assets/sound.png" id="kitchenSound">
  </div>
</div>


