<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" >
  <div class="row">
  <app-header-fmr class="col-xs-3"></app-header-fmr>
  </div>
  <div class="row">
    <app-rooms-state-fmr class="col-xs-2"></app-rooms-state-fmr>
    <app-house-state-fmr class="col-xs-5"></app-house-state-fmr>
  </div>

 <!-- <div style="text-align:center">
    <img src="../assets/bedroom.png">
    <img src="../assets/bathroom.jpg">
    <img src="../assets/livingroom.png">
    <img src="../assets/kitchen.png">
  </div>
  <div style="text-align:center">
    <img src="../assets/sound.png" id="bedroomSound" style="visibility:hidden">
    <img src="../assets/sound.png" id="bathroomSound" style="visibility:hidden">
    <img src="../assets/sound.png" id="livingroomSound" style="visibility:hidden">
    <img src="../assets/sound.png" id="kitchenSound" style="visibility:hidden">
  </div> -->
</div>


